*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    /* border: 2px solid red; */
    position: relative;
}

.container .header{
    width: 100%;
    height: 80px;
    /* border: 2px solid black; */
    
    .nav-bar{
        width: 100%;
        height: 60px;
        /* border: 2px solid yellow; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 2;
        
        .humbargar{
            display: none;
        }

        .logo{

            img{
                width: 200px;
            }
        }

        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            list-style: none;

            .cross{
                display: none;
            }

            li{

                a{
                    text-decoration: none;
                    color: #000000b9;
                }

                a::after{
                    content: '';
                    width: 0;
                    height: 3px;
                    display: block;
                    margin: 5px 0px;
                    background:rgb(81, 235, 235);
                    transition: all 0.5s;
                }

                a:hover::after{
                    width: 100%;
                   }


                a:hover{
                    color: black;
                }
            }
        }
        .button{

            button{
                width: 150px;
                height: 40px;
                background:linear-gradient(to right,rgb(47, 180, 80), rgba(3, 44, 68, 0.815));
                border-radius: 50px;
                cursor: pointer;
                font-size: 14px;
                color: #fff;
            }
        }
    }
}

.container .parant-box{
    width: 100%;
    height: 90vh;
    /* border: 2px solid green; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    

    .box{
        width: 50%;
        height: 100%;
        /* border: 2px solid red; */


        h1{
            padding-top: 10rem;
            padding-bottom: 30px;
            text-align: center;
            font-size: 50px;
        }

        p{
            padding: 10px 8.8rem;
            line-height: 20px;
        }

        img{
            width: 100%;
            padding: 0 3rem;
        }

        button{
            width: 150px;
            height: 40px;
            background:linear-gradient(to right,rgb(47, 180, 80), rgba(3, 44, 68, 0.815));
            border-radius: 50px;
            cursor: pointer;
            font-size: 14px;
            color: #fff;
            margin: 1rem 8.8rem;
        }
    }

    .img-box{
        background-image: url(./images/bg-intro-desktop.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-position-x: 10px;
        z-index: 1;
    }
}

@media(max-width: 800px){
    .container{
        width: 100%;
        height: auto;
    }

    .container .header{
        width: 100%;
        height: auto;
        /* border: 2px solid black; */
        
        .nav-bar{
            width: 100%;
            height: 60px;
            /* border: 2px solid yellow; */
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 9;
 
            .humbargar{
                display: block;
                
                #side-btn{
                    
                    img{
                        margin-right: 30px;
                    }
                }
            }

            ul{
                display: none;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                width: 50%;
                gap: 20px;
                height: 80vh;
                background: rgba(251, 251, 252, 0.945);
                position: absolute;
                top: 4rem;
                left: 30%;
                z-index: 999;
                border-radius: 20px;

                .cross{
                    width: 100%;
                    height: 40px;
                    display: block;
                    
                    a{
                        padding: 10px;

                        svg{
                            width: 35px;
                            height: 35px;
                        }
                    }
                }

                li{
                    margin-top: 20px;

                    a{
                        text-align: center;
                        font-size: 20px;
                        font-weight: bold;
                    }
                    a::after{
                        display: none;
                    }
                }
            }
        } 
    }
        
    .container .parant-box{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        z-index: 1;
    
        .box{
            width: 100%;
            height: 100%;
            z-index: 1;

            h1{
                text-align: center;
                padding-top: 3.5rem;
            }

            p{
                text-align: center;
                padding: 5px;
                margin: 0;
                font-size: 20px;
                line-height: 35px;
            }

            button{
                display: block;             
                margin: 5px auto;
             
            }
        }    

        .text-box{
            margin-top: 25rem;
            height: auto;
        }
        .img-box{
            position: absolute;
            height: 60vh;
            top: 5remm;

            img{
                position: absolute;
                width: 100%;
                /* height: 10vh; */
                z-index: 0;
            }
        }
    }
}

/*  */
.section-choose{
    width: 100%;
    height: 80vh;
    /* border: 2px solid yellow; */
    margin-top: 20px;
    background: #e7e6e6fd;


    h1{
        font-size: 40px;
        padding: 35px;
    }

    p{
        padding-left: 35px;
        font-size: 18px;
    }

    .display-flex{
     width: 100%;
     height: 50vh;
     /* border: 2px solid green; */
     margin-top: 20px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;

     .card{
        width: 20vw;
        height: 45vh;
        /* border: 2px solid black; */

        img{
            padding: 20px;
        }

        h3{
            padding-left: 20px;
        }

        p{
            padding: 10px 20px;
            font-size: 16px;
            line-height: 22px;
          }
       }
    }
}


@media(max-width: 800px){
    .section-choose{
        width: 100%;
        height: auto;

        h1{
            text-align: center;
            /* padding: 0; */
        }

        p{
            text-align: center;
            padding: 0;
            font-size: 20px;
            margin: 0;
        }

        .display-flex{
            display: block;
            width: 100%;
            height: auto;
            display: block;


            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 8px auto;
                width: 90%;
                height: auto;


                h3{
                    font-size: 30px;
                    padding: 10px;
                }
                p{
                    font-size: 22px;
                    line-height: 25px;
                    padding: 10px;
                }
            }
        }
    }
}

/*  */
/*  */
.article-section{
    width: 100%;
    height: 100vh;
    /* border: 2px solid red; */

    h1{
        font-size: 40px;
        padding: 30px;
    }

    .flex-container{
        width: 100%;
        height: 80vh;
        /* border: 2px solid blue; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    .article{
     width: 22vw;
     height: 65vh;
     /* border: 2px solid yellow; */

     img{
        width: 22vw;
        height: 30vh;
        /* padding: 5px; */
     }

     h5{
        
        padding: 10px;
     }

     a{
        display: block;
        padding: 12px;
        font-size: 22px;
        text-decoration: none;
        color: black;
        width: 18.5vw;
        height: 10vh;

        &:hover{
            color: rgb(27, 240, 240);
        }
     }

     p{
        padding: 20px 12px;
        line-height: 20px;
     }
    }
    }
}

@media(max-width: 800px){
    .article-section{
        width: 100%;
        height: auto;

        h1{
            text-align: center;
        }

        .flex-container{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .article{
                width: 90%;
                height: auto;
                margin: 5px;

                img{
                    width: 100%;
                    height: 40vh;
                    margin: auto;
                }

                h5{
                    font-size: 22px;
                    padding: 20px 20px;
                }

                a{
                    font-size: 30px;
                    display: block;
                    padding: 5px 20px;
                    /* width: 100%; */
                    width: 60vh;
                    height: auto;
                    /* border: 1px solid red; */
                }

                p{
                    font-size: 18px;
                    padding: 10px 20px;
                    line-height: 30px;

                }
            }
        }
    }
}

/*  */
/*  */
.footer{
    width: 100%;
    height: 30vh;
    /* border: 2px solid black; */

    .col-1{
        width: 100%;
        height: 30vh;
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        background: #041020;

        .div{
            width: 20vw;
            height: 30vh;
            /* border: 2px solid blue; */
            

            .logo{
             color: white;
             padding: 40px;
             width: 20vw;
            }

            .icon{
               width: 18vw;
               height: 8vh;
               /* border: 2px solid white; */
               margin: 1px auto;

                a{
                  text-decoration: none;

                    img{
                        width: 35px;
                        padding: 5px;
                        margin-left: 5px;
                    }
                    img:hover{
                        color: aqua;
                    }
                }
                
            }

            ul{
                display: flex;
                /* align-items: center; */
                /* justify-items: center; */
                flex-direction: column;
                padding: 30px;

                li{
                    padding: 10px;
                    list-style: none;

                    a{
                        text-decoration: none;
                        color: #ddd;

                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }

        button{
            width: 150px;
            height: 40px;
            background:linear-gradient(to right,rgb(47, 180, 80), rgba(29, 114, 163, 0.815));
            border-radius: 50px;
            cursor: pointer;
            font-size: 14px;
            color: #fff;
            /* margin: 1rem 8.8rem; */
            margin: 35px 55px;
            font-weight: bolder;
            border: none;
        }

         button:hover{
            background: rgba(48, 238, 238, 0.781);
        }

        p{
         color: #ddd;
         padding: 0px 20px;
        }
    }
}

@media(max-width: 800px){
    .footer{
        width: 100%;
        height: auto;

     .col-1{
          display: block;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: auto;


        .div{
            width: 40%;
            height: auto;
            display: block;
            margin: 5px auto;
            padding: 0;

            .icon{
                width: 100%;
                height: auto;
                padding: 0;
                

                a{
                  margin: 0 5px;
                  padding: 0;
                }

            }

            ul{
                display: block;
                padding: 0;                
                text-align: center;

                ll{
                    padding: 0;
                    margin: 0;
                    text-align: center;

                    a{
                        padding: 0;
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        }

        .last-box{
            width: 60%;

            button{
                /* margin: 5px 50%; */
            }
            p{
                /* padding: 5px 25px; */
                text-align: center;

            }
        }
        .icon-box{
            width: auto;
            margin: 2px 55px;
          }
     }
        
    }
}